*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}
body{
  background-color: rgb(86, 121, 33);
}
h1{
  color:coral;
  width: 40rem;
  margin: 2rem auto;
}

.contendor{
  width: 50rem;
  min-height: 25rem;
  border: solid 1px black;
  margin: 3rem auto;
  padding: 1rem;
  font-size: 1.6rem;
}
.subelementos{
  width: 40rem;
  margin: 2rem auto;
  text-align: center;
}

.subelementos h4{
  margin-top: 1rem;
}

.subelementos p{
  height: 4rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.8rem;
  line-height: 2rem;
}